body {
    margin-top: 370px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    color: white;
}


form {
  text-align: center;
  color: white;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 40px;
    color: limegreen;
    text-align: center;
}

input {
    color: black;
    font-style: bold;
}

button {
  display: block;
  margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.favorite {
  color: limegreen;
  font-family: 'Mystery Quest', cursive;
}


.orange {
    color: orange;
    font-family: 'Mystery Quest', cursive;
}

#check {
    background-color: orange;
    border: orange solid 2px;
    color: white;
}



/* @media screen and (max-width: 800px) {


    body {
        margin-top: 240px;
        background-size: contain;
    }

    h2 {
        font-size: 1.5rem;
    }

} */

